<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <style>
    .signup-btn {
      width: 100%;
      padding: 0.75rem;
      background-color: #1852a3; /* Couleur bleue */
      color: #ffffff;
      border: none;
      border-radius: 0.375rem;
      font-size: 0.875rem;
      font-weight: bold;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <div style="background-color: #f3f4f6; border-radius: 1rem; padding: 2rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
      <h4 style="font-size: 1.5rem; font-weight: bold; color: #176de7;">Register</h4>
      <p style="margin-top: 0.5rem; font-size: 1rem; color: #374151;">Nice to meet you! Enter your details to register.</p>
      <form style="margin-top: 1rem; max-width: 320px; width: 100%; margin-left: auto; margin-right: auto;">
        <div style="margin-bottom: 1rem;">
          <label style="margin-bottom: 0.5rem; font-size: 0.875rem; font-weight: bold; color: #1a6de1;">Your Name</label>
          <input type="text" placeholder="name@mail.com" style="width: 100%; padding: 0.75rem; border: 1px solid #e5e7eb; border-radius: 0.375rem;">
        </div>
        <div style="margin-bottom: 1rem;">
          <label style="margin-bottom: 0.5rem; font-size: 0.875rem; font-weight: bold; color: #1a6de1;">Your Email</label>
          <input type="text" placeholder="name@mail.com" style="width: 100%; padding: 0.75rem; border: 1px solid #e5e7eb; border-radius: 0.375rem;">
        </div>
        <div style="margin-bottom: 1rem;">
          <label style="margin-bottom: 0.5rem; font-size: 0.875rem; font-weight: bold; color: #1a6de1;">Password</label>
          <input type="password" placeholder="********" style="width: 100%; padding: 0.75rem; border: 1px solid #e5e7eb; border-radius: 0.375rem;">
        </div>
        <div style="display: inline-flex; align-items: center; margin-bottom: 1rem;">
          <input type="checkbox" id="remember" style="margin-right: 0.5rem;">
          <label for="remember" style="font-size: 0.875rem; color: #235aa7;">I agree to the Terms and Conditions</label>
        </div>
        <button class="signup-btn" type="button">Register</button>
        <p style="margin-top: 1rem; font-size: 1rem; color: #145dc4; text-align: center;">Already have an account? <a href="#" style="font-weight: bold; color: #1f2937;">Sign In</a></p>
      </form>
    </div>
  </div>
</body>

</html>



